<!-- <ul class="nav nav-list"> -->
                  <!-- HR Employee -->
                  <li class="hover">
                     <a href="#" class="dropdown-toggle">
                     <span class="fa-stack menuItem">
                     <i class="fa-stack-2x light-grey"></i>
                     <i class="fa fa-users fa-stack-1x"></i>
                     </span>
                     <span class="menu-text">Employee</span>
                     <b class="arrow fa fa-angle-right"></b>
                     </a>
                     <b class="arrow"></b>
                     <ul class="submenu">
                        <li class="hover">
                           <a href="./HR-Employee-Dashboard.html">
                           <i class="menu-icon fa fa-dashboard"></i>
                           <span class="menu-text">Dashboard</span>
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./HR-Employee-Helpdesk.html">
                           <i class="menu-icon fa fa-users"></i> Employees
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./HR-Employee-NewEmployee.html">
                           <i class="menu-icon fa fa-plus"></i> New Employee
                           </a>
                        </li>
                     </ul>
                  </li>
                  <!-- Student Management -->
                  <li class="hover">
                     <a href="#" class="dropdown-toggle">
                     <span class="fa-stack menuItem">
                     <i class="fa fa-graduation-cap fa-stack-1x"></i>
                     </span>
                     <span class="menu-text">Student</span>
                     <b class="arrow fa fa-angle-right"></b>
                     </a>
                     <b class="arrow"></b>
                     <ul class="submenu">
                        <li class="hover">
                           <a href="./STU-Admission-Dashboard.html">
                           <i class="menu-icon fa fa-dashboard"></i>
                           <span class="menu-text">Dashboard</span>
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./STU-Admission-StudentsList.html">
                           <i class="menu-icon fa fa-graduation-cap"></i> Students
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./STU-Admission-NewAdmission.html">
                           <i class="menu-icon fa fa-plus"></i> New Admission
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./STU-Admission-Transfer.html">
                           <i class="menu-icon fa fa-exchange"></i> Transfers
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="hover">
                     <a href="#" class="dropdown-toggle">
                     <span class="fa-stack menuItem">
                     <i class="fa fa-leanpub fa-stack-1x"></i>
                     </span>
                     <span class="menu-text">Learning</span>
                     <b class="arrow fa fa-angle-right"></b>
                     </a>
                     <b class="arrow"></b>
                     <ul class="submenu nav-show" >
                        <li class="hover">
                           <a href="./Course-MNG-Dashboard.html">
                           <i class="menu-icon fa fa-dashboard"></i> Courses
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./ASSMT-Dashboard.html">
                           <i class="menu-icon fa fa-dashboard "></i> Assignments
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./EXAM-Dashboard.html">
                           <i class="menu-icon fa fa-dashboard "></i> Examination
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./TT-Dashboard.html">
                           <i class="menu-icon fa fa-dashboard "></i> TimeTable
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./DS-DiscussionForum.html">
                           <i class="menu-icon fa fa-dashboard "></i> Discussions
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="hover">
                     <a href="#" class="dropdown-toggle">
                     <span class="fa-stack menuItem">
                     <i class="fa fa-check fa-stack-1x"></i>
                     </span>
                     <span class="menu-text">Attendance</span>
                     <b class="arrow fa fa-angle-right"></b>
                     </a>
                     <b class="arrow"></b>
                     <ul class="submenu">
                        <li class="hover">
                           <a href="./EA-Employee Attendance-Dashboard.html">
                           <i class="menu-icon fa fa-dashboard"></i>
                           <span class="menu-text">Dashboard</span>
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./ESA-StudentAttendance-Marking.html">
                           <i class="menu-icon fa fa-plus"></i> Attendance
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./EA-EmployeeAttendance-View.html">
                           <i class="menu-icon fa fa-plus"></i> Employee Attendance
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./EA-StudentAttendance-View.html">
                           <i class="menu-icon fa fa-plus"></i> Student Attendance
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="hover">
                     <a href="#" class="dropdown-toggle">
                     <span class="fa-stack menuItem">
                     <i class="fa fa-yelp fa-stack-1x"></i>
                     </span>
                     <span class="menu-text">Support Services</span>
                     <b class="arrow fa fa-angle-right"></b>
                     </a>
                     <b class="arrow"></b>
                     <ul class="submenu nav-show" >
                        <li class="hover">
                           <a href="./Hostel-Dashboard.html">
                           <i class="menu-icon fa fa-bed "></i> Hostel
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./TM-TranspotationManagementDashboard.html">
                           <i class="menu-icon fa fa-bus"></i> Transportation
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./ROOM-Dashboard.html">
                           <i class="menu-icon fa fa-plus"></i> Room Creation
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./Counselling-Dashboard.html">
                           <i class="menu-icon fa fa-smile-o"></i> Counselling
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./Asset-Dashboard.html">
                           <i class="menu-icon fa fa-cubes"></i> Asset
                           </a>
                        </li>
                        <li class="hover">
                           <a href="#">
                           <i class="menu-icon fa fa-folder"></i> Document Mgmt.
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="hover">
                     <a href="#" class="dropdown-toggle">
                     <span class="fa-stack menuItem">
                     <i class="fa-stack-2x light-grey"></i>
                     <i class="fa fa-book fa-stack-1x"></i>
                     </span>
                     <span class="menu-text">Library</span>
                     <b class="arrow fa fa-angle-right"></b>
                     </a>
                     <b class="arrow"></b>
                     <ul class="submenu">
                        <li class="hover">
                           <a href="./Library-Dashboard.html">
                           <i class="menu-icon fa fa-dashboard"></i>
                           <span class="menu-text">Dashboard</span>
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./Library-BooksList.html">
                           <i class="menu-icon fa fa-book"></i> Books
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./Library-BookCreation.html">
                           <i class="menu-icon fa fa-plus"></i> New Book
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="hover">
                     <a href="#" class="dropdown-toggle">
                     <span class="fa-stack menuItem">
                     <i class="fa fa-calendar fa-stack-1x"></i>
                     </span>
                     <span class="menu-text">eCalendar</span>
                     <b class="arrow fa fa-angle-right"></b>
                     </a>
                     <b class="arrow"></b>
                     <ul class="submenu">
                        <li class="hover">
                           <a href="./E-Calender.html">
                           <i class="menu-icon fa fa-calendar-o"></i>
                           <span class="menu-text">My Events</span>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="hover">
                     <a href="#" class="dropdown-toggle">
                     <span class="fa-stack menuItem">
                     <i class="fa fa-newspaper-o fa-stack-1x"></i>
                     </span>
                     <span class="menu-text">News / Memos Forum</span>
                     <b class="arrow fa fa-angle-right"></b>
                     </a>
                     <b class="arrow"></b>
                     <ul class="submenu">
                        <li class="hover">
                           <a href="./NMS-News-MemoCircular-Dashboard.html">
                           <i class="menu-icon fa fa-dashboard"></i>
                           <span class="menu-text">Dashboard</span>
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./NMS-News-MemoCircular-Creation.html">
                           <i class="menu-icon fa fa-plus"></i> Create News / Memos
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./NMS-News-View.html">
                           <i class="menu-icon fa fa-search-plus"></i> View News
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./NMS-MemoCircular-View.html">
                           <i class="menu-icon fa fa-search-plus"></i> View Memos
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="hover">
                     <a href="#" class="dropdown-toggle">
                     <span class="fa-stack menuItem">
                     <i class="fa fa-hand-o-up fa-stack-1x"></i>
                     </span>
                     <span class="menu-text">Poll &amp; Survey</span>
                     <b class="arrow fa fa-angle-right"></b>
                     </a>
                     <b class="arrow"></b>
                     <ul class="submenu">
                        <li class="hover">
                           <a href="./PS-PollSurvey-Dashboard.html">
                           <i class="menu-icon fa fa-dashboard"></i>
                           <span class="menu-text">Dashboard</span>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="hover">
                     <a href="./DGA-Dashboard.html" class="dropdown-toggle">
                     <span class="fa-stack menuItem">
                     <i class="fa fa-arrows fa-stack-1x"></i>
                     </span>
                     <span class="menu-text">Grievances</span>
                     <b class="arrow fa fa-angle-right"></b>
                     </a>
                     <b class="arrow"></b>
                     <ul class="submenu">
                        <li class="hover">
                           <a href="./DGA-Dashboard.html">
                           <i class="menu-icon fa fa-dashboard"></i>
                           <span class="menu-text">Dashboard</span>
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./DGA-Reg-complaint.html">
                           <i class="menu-icon fa fa-step-forward"></i> Register a Complaint
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./DGA-complaints-List.html">
                           <i class="menu-icon fa fa-search-plus"></i> View Complaints
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./DGA-GradeAppeal.html">
                           <i class="menu-icon fa fa-plus"></i> Grade Appeal
                           </a>
                        </li>
                        <li class="hover">
                           <a href="./DGA-GradeAppeals-List.html">
                           <i class="menu-icon fa fa-search-plus"></i> View Appeals
                           </a>
                        </li>
                     </ul>
                  </li>
               <!-- </ul> -->